<div class="yaybar-wrap" th:fragment="aside">
	<ul>
		<li><a href="/"><span class="yay-icon"><span
					data-feather="user" class="rui-icon rui-icon-stroke-1_5"></span></span> <span>Usuarios</span>
				<span class="rui-yaybar-circle"></span></a></li>
		<li><a href="/"><span class="yay-icon"><span
					data-feather="box" class="rui-icon rui-icon-stroke-1_5"></span></span> <span>Clientes</span>
				<span class="rui-yaybar-circle"></span></a></li>
		<li><a href="/"><span class="yay-icon"><span
					data-feather="calendar" class="rui-icon rui-icon-stroke-1_5"></span></span>
				<span>Proveedores</span> <span class="rui-yaybar-circle"></span></a></li>
		<li><a href="/"><span class="yay-icon"><span
					data-feather="database" class="rui-icon rui-icon-stroke-1_5"></span></span>
				<span>Productos</span> <span class="rui-yaybar-circle"></span></a></li>
		<li class="active"><a href="/"><span class="yay-icon"><span
					data-feather="send" class="rui-icon rui-icon-stroke-1_5"></span></span> <span>Ventas</span>
				<span class="rui-yaybar-circle"></span></a></li>
		<li class="active"><a href="/"><span class="yay-icon"><span
					data-feather="layers" class="rui-icon rui-icon-stroke-1_5"></span></span>
				<span>Reportes</span> <span class="rui-yaybar-circle"></span></a></li>
	</ul>
</div>