/* fernmarr 19/09/2021 */


.act1{
	background-color: whitesmoke;
    padding: 5px;
    border-radius: 10px;
}

.rui-snippet-preview {
	
	padding: 20px;
    border: 1px solid #f3f4f7;
    margin-top: 20px;
    margin-bottom: 20px;
	
}

